*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #eee;
}

#root {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px #ccc;
  margin-bottom: 40px;
  
}

#header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 5rem;
  align-items: center;
  background-color: #895442;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  margin-bottom: 5rem;
}

#header #logo{
    flex-grow: 1;
    flex-basis: 5%;
    padding: 10px;
    margin-left: 20px;
    color: black;
    text-shadow: 1px 1px 0px #ccc;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900px;
    font-size: 35px;
}

#header #navContainer{
    flex-grow: 1;
    flex-basis: 60%;
    height: 100%;
}


#header #navContainer #menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  list-style: none;
}

#header #navContainer #menu li  {
  padding-left: 0.5rem;
  font-size: 18px;
  letter-spacing: 1px;
  padding-right: 1rem;
  margin: 0 auto;
  align-self: center;
}

#header #menu li a {
  color: white;
  text-decoration: none;
  transition: all 300ms;
}

#header #menu li a:hover {
  color: rgb(224, 172, 74);
}

#header #menu li #cart-icon-container .count-cart{
  color: red;
  width: 1rem;
  border-radius: 999px;
  background-color: rgb(192, 224, 75);
}

.cart-icon{
  height: 2.5rem;
  width: 2.5rem;
}

.cart-icon:hover{
  cursor: pointer;
}

.count-cart{
  position: absolute;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#itemContainer{
  margin-top: 6rem;
  font-size: 50px;
}